{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
{% endblock %}
{% block content %}
    <div class="home-wrapper">
        <div class="home-title vollkorn-400">
            <p>
            Python
            Kontrollen
            </p>
        </div>
        <div class="home-subtitle rubik-200">
            <p>
                Automatisierte Erstellung von Kontrollen mithilfe von Python und LaTeX  zur Leistungsabfrage von Schülern und Schülerinnen
                <br><br>
                Der Code der Kontrollen ist Open-Source auf <a href="https://github.com/HerrjeAlf/Schule" target="_blank"
                   class="link-secondary link-underline-opacity-25">GitHub</a>
                verfügbar
            </p>
        </div>
    </div>
{% endblock %}