{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}"/>
{% endblock %}
{% block content %}
    <div class="home-wrapper">
        <div class="home-title libre-bodoni-400">
            <p>
            Test<br>Builder
            </p>
        </div>
        <div class="home-subtitle poppins-300">
            <p>
                Automatisierte Erstellung von Tests mithilfe von Python und LaTeX zur Leistungsabfrage von Schülerinnen und Schülern
                <br><br>
                Der Code des <a href="https://github.com/HerrjeAlf/TestBuilder" target="_blank"
                   class="link-secondary link-underline-opacity-25">TestBuilders</a> und der <a href="https://github.com/nickolas07/TestBuilder-website" target="_blank"
                   class="link-secondary link-underline-opacity-25">Website</a> ist auf GitHub verfügbar
            </p>
        </div>
    </div>
{% endblock %}