.kontrollen-wrapper {
    font-size: 1.3rem;
    margin: 2% 5vw;
}

.kontrolle {
    flex: 0 0 50%;
    margin-bottom: 15px;
    width: 50%;
}

.kontrolle-subtitle {
    font-size: 0.75rem;
    font-weight: lighter;
    margin-bottom: 2%;
}

.kontrolle-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.kontrolle-row {
    margin-left: 0;
}

.kontrolle-beispiel {
    height: 25px;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontrollen-version {
    font-size: 0.9rem;
    font-weight: lighter;
    color: #9d9d9d;
    margin-bottom: 0.5%;
}

.kontrolle-li {
    display: flex;
    flex-direction: row;
}

.view-kontrolle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: fit-content;
    min-width: 80%;
    margin: 2rem 2rem 0.7rem 2rem;
}

.view-kontrolle-beispiel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: fit-content;
    min-width: 80%;
    margin: 2rem 2rem 0.7rem 2rem;
}

.vk-button {
    width: 100%;
    font-size: 1.6rem;
}

.btn-delete {
    grid-column: 1 / span 2;
}

.no-kontrolle {
    display: table;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 5rem;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    @media only screen and (orientation: portrait) {
        .view-kontrolle-mit-title {
            max-width: 100%;
        }
    }

    .view-kontrolle {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        margin: 1rem 1rem 0.45rem 1rem;
    }

    .view-kontrolle-beispiel {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .btn-delete {
        grid-column: 1 / span 1;
    }

    .vk-button {
        font-size: 1rem;
    }

    .kontrolle {
        flex: 0 0 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .kontrolle-li {
        flex-direction: column;
    }

    .kontrolle-text {
        text-align: center;
        align-items: center;
        margin-bottom: 1rem;
    }
}

/*Erstellen*/
.view-kontrolle-mit-title {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #686868;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    max-width: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-submit {
    width: 10rem;
}

.btn-reset {
    width: 10rem;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .btn-submit {
        margin-bottom: 1rem;
    }
}
