/*Aufgaben*/
.aufgabe-div {
    width: fit-content;
    max-width: 65%;
    margin: auto;
    text-align: center;
}

.parent {
    margin-top: 0;
    margin-left: 1vw;
}

.child-div {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.9rem;
    font-weight: 350;
}

.parent-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.25rem;
}

.parent-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auswahl {
    font-size: 1rem;
    margin-top: 3%;
}

.child-label {
    padding-left: 1vw;
    margin: auto 0;
    text-align: left;
}

.btn-weiter {
    margin-top: 4%;
    width: 15vw;
    min-width: 5rem;
}

.aufgabe {
     padding: 3%;
}

.aufgabe-title {
    margin-bottom: 2%;
}

.aufgabe-subtitle {
    font-size: 1.2rem;
}

.eingaben {
    max-width: 50%;
}

.eingabe-bsp {
    font-size: 0.85rem;
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .aufgabe-div {
        max-width: 95%;
    }

    .parent-div {
        font-size: 1rem;
    }

    .child-div {
        text-align: left;
        font-size: 0.75rem;
    }

    .aufgabe {
        padding: 1.2rem;
    }

    .aufgabe-title {
        font-size: 140%;
    }
}