@font-face {
    font-family: 'Rubik';
    src: url("fonts/Rubik/static/Rubik-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik Light';
    src: url("fonts/Rubik/static/Rubik-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins Light';
    src: url("fonts/Poppins/Poppins-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url("fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Bodoni';
    src: url("fonts/Libre_Bodoni/LibreBodoni-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Regular';
    src: url("fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format('truetype');
}


.rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.rubik-200 {
    font-family: 'Rubik Light', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.poppins-300 {
    font-family: 'Poppins Light', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.poppins-400 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.libre-bodoni-400 {
    font-family: 'Libre Bodoni', serif;
    font-style: normal;
    font-weight: 400;
}

.ibm-plex-sans-400 {
    font-family: 'IBM Plex Sans Regular', monospace;
    font-style: normal;
    font-weight: 400;
}

.content {
    margin: 2%;
}

.page-404 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
}

.border-align {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #686868;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Farben*/
.bb2d3b {
    color: #bb2d3b;
}