{% extends 'base.html' %}
{% load clean_auswahl %}
{% load index %}
{% load multi_bsp %}
{% block title %}
    {{ themenbereich }}
{% endblock %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'aufgaben/style.css' %}"/>
{% endblock %}
{% block content %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const listParent = document.querySelectorAll('.list-parent');
            const listChild = document.querySelectorAll('.list-child');

            const checkboxGroups = document.querySelectorAll('.checkbox-group');

            checkboxGroups.forEach(group => {
                const parentCheckbox = group.querySelector('.parentCheckbox');
                const childCheckboxes = group.querySelectorAll('.childCheckbox');

                // Funktion zum Aktualisieren des Status der Child-Checkboxen
                const updateChildCheckboxes = () => {
                    childCheckboxes.forEach(checkbox => {
                        checkbox.checked = parentCheckbox.checked;
                    });
                };

                // Funktion zum Aktualisieren des Status der Parent-Checkbox
                const updateParentCheckbox = () => {
                    if (childCheckboxes.length === 0) {
                        parentCheckbox.indeterminate = false;
                        parentCheckbox.checked = false;
                        return;
                    }

                    const allChecked = Array.from(childCheckboxes).every(checkbox => checkbox.checked);
                    const someChecked = Array.from(childCheckboxes).some(checkbox => checkbox.checked);
                    parentCheckbox.checked = allChecked;
                    parentCheckbox.indeterminate = !allChecked && someChecked;
                };

                // Event-Listener für die Parent-Checkbox
                parentCheckbox.addEventListener('change', updateChildCheckboxes);

                // Event-Listener für die Child-Checkboxen
                childCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateParentCheckbox);
                });

                // Initialer Status der Parent-Checkbox festlegen
                updateParentCheckbox();
                });

        });
    </script>

    <div class="aufgabe-div">
        <div class="aufgabe-title">
            <span class="aufgabe-subtitle rubik-200">{{ stufe }}</span>
            <h1>{{ themenbereich }}</h1>
            <span class="rubik-200">Alle Optionen für Angaben sind optional.<br>Wenn Sie nichts spezifizieren oder die Eingabe das falsche Format hat, wird ein Standardwert verwendet.</span>
        </div>
        <form method="post">
            {% csrf_token %}
            <ul class="list-group list-parent">
                {% for aufgabe in aufgaben %}
                    <li class="aufgabe list-group-item checkbox-group">
                    <div class="parent-div">
                        <div class="parent-title">
                            <input class="form-check-input me-1 parent parentCheckbox" type="checkbox" value="Aufgabe_{{forloop.counter}}"
                               id="Aufgabe_{{forloop.counter}}"
                               name="Aufgabe_{{forloop.counter}}">
                            <label class="form-check-label parent"
                               for="Aufgabe_{{forloop.counter}}">
                              {{ aufgabe.0 }}
                            </label>
                        </div>
                        {% if parameter|index:forloop.counter0 is not None %}
                            <div class="row auswahl">
                                {% for auswahl in parameter|index:forloop.counter0 %}
                                        <div class="col-md eingaben">
                                            <div class="form-floating mb-3">
                                                {% if auswahl.1 == 'selection' %}
                                                    <select name="{{ auswahl.0|clean_auswahl }}_{{ forloop.parentloop.counter }}" class="form-select" id="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}">
                                                        {% for item in auswahl.2 %}
                                                            <option value="{{ item|clean_auswahl }}">{{ item|clean_auswahl }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}">{{ auswahl.0|clean_auswahl }}</label>
                                                {% else %}
                                                    {% if aufgabe.2|length == 0 %}
                                                        {% if auswahl.0|clean_auswahl == 'BE' %}
                                                            <input type="{{ auswahl.1 }}" name="{{ auswahl.0|clean_auswahl }}_{{ forloop.parentloop.counter }}" class="form-control" id="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}" placeholder="{{ auswahl.0|clean_auswahl }}">
                                                            <label for="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}">{{ auswahl.0|clean_auswahl }} &nbsp;<span class="rubik-200 eingabe-bsp">Bsp: {{ aufgabe.2|length|multi_bsp }}</span></label>
                                                        {% else %}
                                                            <input type="{{ auswahl.1 }}" name="{{ auswahl.0|clean_auswahl }}_{{ forloop.parentloop.counter }}" class="form-control" id="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}" placeholder="{{ auswahl.0|clean_auswahl }}">
                                                            <label for="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}">{{ auswahl.0|clean_auswahl }}</label>
                                                        {% endif %}
                                                    {% else %}
                                                        <input type="{{ auswahl.1 }}" name="{{ auswahl.0|clean_auswahl }}_{{ forloop.parentloop.counter }}" class="form-control" id="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}" placeholder="{{ auswahl.0|clean_auswahl }}">
                                                        <label for="floating_{{ auswahl.0 }}_{{ forloop.parentloop.counter }}">{{ auswahl.0|clean_auswahl }} &nbsp;<span class="rubik-200 eingabe-bsp">Bsp: {{ aufgabe.2|length|multi_bsp }}</span></label>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                        {% if aufgabe.2 %}
                            <ul class="list-group list-child" style="margin-top: 2%;">
                                {% for teilaufg in aufgabe.2 %}
                                    <li class="list-group-item">
                                        <div class="form-check child-div">
                                            <input class="form-check-input me-1 childCheckbox" type="checkbox" value="Aufgabe_{{forloop.parentloop.counter}}_{{forloop.counter}}"
                                                   id="Aufgabe_{{forloop.parentloop.counter}}_{{forloop.counter}}"
                                                   name="Aufgabe_{{forloop.parentloop.counter}}_{{forloop.counter}}">
                                            <label class="form-check-label child-label"
                                                   for="Aufgabe_{{forloop.parentloop.counter}}_{{forloop.counter}}">
                                                {{ teilaufg.1 }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" class="btn-weiter btn btn-outline-secondary" value="Weiter">
        </form>
    </div>
{% endblock %}